.TodoItem {
    background-color: #000000;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0 5px 50px rgb(0 255 255 / 17%);
}

.TodoItem-p {
    margin: 10px;
    width: calc(100% - 120px);
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-weight: bold;
}

.Icon-check {
    position: absolute;
    left: 12px;
  }
  .Icon-check--active {
    color: #00ff08;
  }
  
  .Icon-delete {
    position: absolute;
    top: 0;
    right: 0;
  }
  .Icon-delete:hover {
    color: red;
  }